
  @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
  * {
    box-sizing: border-box;
  }
body{
    background-image: url('/static/images/majesty.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.navname{
    font-family: 'Delius', cursive;
    font-size: x-large;
}

.all-element{
    height: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:auto auto;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}