{% extends 'base.html' %} 

{% block body %}
<div class="all-element">
<form action="/" method="POST">
  <div class="input-group my-4 ">
    <input type="text" class="form-control " name="content" placeholder="Enter your Task Here" style="width: 600px;">
    <button class="btn btn-outline-success bg-info text-light" type="submit" >Add Task</button>
  </div>
</form>
{% if tasks|length < 1 %}
<h4>There are no tasks. Create one below!</h4>
{% else %}

  {% for task in tasks %}
  <div class="w-100">
    <div class="alert alert-{{ task.color_me }} w-100 map ">
     <div class="fs-3 fw-light">{{ task.content }} </div> 
      <div class="mt-2">
        <small class="text-mute">{{task.created_at.strftime('%Y-%M-%d')}}</small>&nbsp;
        <a href="delete/{{task.id}}"><img src="/static/images/del_icon.png" alt="delete" width="25" height="25"></a>&nbsp;
        <a href="update/{{task.id}}"><img src="/static/images/edit.png" alt="delete" width="25" height="25"></a>
      </div>
    </div>
  </div>
  {% endfor %}

{% endif %}
</div>
{% endblock %}

